/*
COLORS:
    Mint = 00ffb1
    Gray Background = 212429
*/

/*
Testing color palatte:
Base grey = 232931
Lighter grey = 393e46
Mint = 4ecca3
white = eeeeee
*/


html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

*{
    background-color: #232931;
    color: #eeeeee;
    font-family: 'Roboto Mono', monospace;
}

h1{
    color: #4ecca3;
}

/*
Nav bar work.
*/

nav{
    z-index: 2;
    margin: 0;
    padding: 0;
    background-color: #393e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav *{
    background-color: #393e46;
}

.nav-links{
    display: flex;
    list-style-type: none;
    
}

.nav-items{
    padding-right: 1em;
}

.nav-items a{
    text-decoration: none;
    color: #4ecca3;
}

.article{
    margin: 1.5em;
}

.seperator{
    color: #232931;
    padding-right: 1em;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-container pre{
    background-color: #393e46;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.info{
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.info > h1, .info >h2{
    color: white;
    background-color: transparent;
    text-shadow: 3px 3px 2px black;
    font-weight: bold;
}

.homepage{
    background-image: url(background.png);
    position: relative;
}
